{% extends "base.html" %}
{% block content %}

<h1>
    Happy<br />
    New Year
  </h1>
  <div class="year">
    <div class="two number">
      <div class="top">
        <div>
          <div class="shape inactive"></div>
          <div class="shape inactive"></div>
        </div>
        <div class="shape inactive"></div>
      </div>
      <div class="bottom">
        <div class="shape inactive"></div>
        <div class="shape inactive"></div>
      </div>
    </div>
    <div class="zero number">
      <div>
        <div class="shape inactive"></div>
        <div class="shape inactive"></div>
      </div>
      <div class="shape inactive"></div>
    </div>
    <div class="two number">
      <div class="top">
        <div>
          <div class="shape inactive"></div>
          <div class="shape inactive"></div>
        </div>
        <div class="shape inactive"></div>
      </div>
      <div class="bottom">
        <div class="shape inactive"></div>
        <div class="shape inactive"></div>
      </div>
    </div>
    <div class="two number">
      <div class="top">
        <div>
          <div class="shape inactive"></div>
          <div class="shape inactive"></div>
        </div>
        <div class="shape inactive"></div>
      </div>
      <div class="bottom">
        <div class="shape inactive"></div>
        <div class="shape inactive"></div>
      </div>
    </div>
  </div>

{% endblock %}
